# backup files
*.*~
*.*#
# object files
*.o
leap_year/c++/build
/string_calculator/scala/*.class
/string_calculator/d/.dub/*
/string_calculator/d/*.a
/string_calculator/d/string_calculator
/string_calculator/d/dub.*.json
/string_calculator/d/__test__library__
/gilded_rose/c++/CMakeCache.txt
/gilded_rose/c++/CMakeFiles/
/gilded_rose/c++/Makefile
/gilded_rose/c++/cmake_install.cmake
/gilded_rose/c++/gilded_rose_main
/gilded_rose/c++/gilded_rose_test
/coffee_machine/d/.dub/
/coffee_machine/d/coffee_machine
/coffee_machine/d/dub.selections.json
/roman_numerals/c++/roman_numerals
/roman_numerals/c++/bin/
/roman_numerals/c++/roman_numerals.dSYM/
/roman_numerals/scala/target/
/roman_numerals/d/.dub/*
/roman_numerals/d/roman_numerals
/roman_numerals/d/dub.*.json
/roman_numerals/scala/project/
/diamond/c++/diamond
/diamond/c++/bin/
/diamond/c++/diamond.dSYM/
/diamond/elixir/diamond/_build/
/diamond/d/.dub/*
/diamond/d/diamond
/diamond/d/dub.*.json
*.dylib
/diamond/c++/bin/
/diamond/c++/v1/bin/
/diamond/c++/v2/bin/
/diamond/c++/v3/bin/
/gilded_rose/c++/std_variant/build/
/gilded_rose/c++/virtual/build/
/pencil/c++/bin/
/gilded_rose/c++/crtp/build/
